{
  "presets": [
    [
      "env",
      {
        "modules": false,
        "useBuiltIns": false,
        "loose": true,
        "targets": {
          "forceAllTransforms": true,
          "browsers": [
            "last 2 versions",
            "not ie > 0",
            "not Android > 0"
          ]
        },
        "test": {
          "plugins": [
            "istanbul"
          ]
        }
      }
    ]
  ],
  "plugins": [
    "dynamic-import-node",
    "transform-object-rest-spread",
    [
      "transform-class-properties",
      {
        "spec": true
      }
    ]
  ]
}
