{
  "presets": [
    ["env", {
      "modules": false,
      "targets": {
        "browsers": "> 1%",
        "forceAllTransforms": true
      },
      "useBuiltIns": false
    }]
  ],

  "plugins": [
    "dynamic-import-node",
    "transform-object-rest-spread",
    ["transform-class-properties", { "spec": true }]
  ]
}
