{
  "presets": [
    [
      "@babel/preset-env",
      {
        "modules": false,
        "useBuiltIns": false,
        "loose": true,
        "forceAllTransforms": true,
        "targets": {
          "browsers": [
            "last 2 versions",
            "not ie > 0",
            "not Android > 0"
          ]
        }
      }
    ]
  ],
  "env": {
    "test": {
      "plugins": [
      ]
    }
  },
  "plugins": [
    "@babel/plugin-syntax-dynamic-import",
    "@babel/plugin-transform-runtime",
    "@babel/plugin-transform-async-to-generator",
    "@babel/plugin-proposal-object-rest-spread",
    [
      "@babel/plugin-proposal-class-properties",
      {
        "spec": true,
        "loose": true
      }
    ]
  ]
}
