[submodule "app/javascript/packs/plugins/widgets"]
	path = app/javascript/packs/plugins/widgets
	url = git://github.com/teamco/widgets
[submodule "widgets"]
	path = widgets
	url = https://github.com/teamco/widgets
