.idea/dictionaries/i061485.xml
.idea/encodings.xml
.idea/misc.xml
nbproject/
.idea/dictionaries/i061485.xml
.idea/encodings.xml
.idea/misc.xml
.idea/js-oop.iml
.idea/modules.xml
.idea/scopes/scope_settings.xml
.idea/vcs.xml
.idea/workspace.xml
.idea/.name
.idea/dictionaries/teamco.xml
.gitignore
.idea/inspectionProfiles/Project_Default.xml
.idea/inspectionProfiles/profiles_settings.xml
.idea/*
.idea/codeStyleSettings.xml
.idea/jsLibraryMappings.xml
.idea/libraries/
.setting/*
.DS_Store
scripts/.DS_Store
scripts/core/.DS_Store
scripts/core/lib/.DS_Store
scripts/core/lib/jquery/.DS_Store
scripts/core/stylesheets/.DS_Store
.settings/
.settings/.jsdtscope
.settings/org.eclipse.wst.jsdt.ui.superType.container
.settings/org.eclipse.wst.jsdt.ui.superType.name
.settings/org.jsuml.plugin.prefs
.idea
*.rbc
capybara-*.html
.rspec
/log
/tmp
/db/*.sqlite3
/public/system
/coverage/
/spec/tmp
**.orig
rerun.txt
pickle-email-*.html

# TODO Comment out these rules if you are OK with secrets being uploaded to the repo
# config/initializers/secret_token.rb
# config/secrets.yml

## Environment normalisation:
/.bundle
/vendor/bundle

# these should all be checked in to normalise the environment:
# Gemfile.lock, .ruby-version, .ruby-gemset

# unless supporting rvm < 1.11.0 or doing something fancy, ignore this:
.rvmrc
log/development.log
log/*
*.log
