<%= form_for(@error_log) do |f| %>
  <% if @error_log.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@error_log.errors.count, "error") %> prohibited this error_log from being saved:</h2>

      <ul>
      <% @error_log.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
