<div class="col-lg-3 col-xs-6">
    <%= render 'author/author/ibox_edit',
               item_type: 'edit',
               item_box: 'bg-aqua',
               item: item,
               item_title: "#{item.key} (#{item.author_site_storage_widgets.length})",
               item_path: edit_author_site_storage_path(item),
               item_info: item.get_activated.try(:version) || '?',
               item_icon: 'glyphicon-globe',
               item_menu: 'menu' %>
</div>