<div class="col-sm-6 col-lg-3">
  <% widgets = item.author_site_storage_widgets.length %>
  <% versions = item.author_site_versions.length %>
  <% type = item.author_site_type.name %>
  <%= render 'author/author/ibox_edit',
      item_type: 'edit',
      item_bg: last_published?(item) ? 'bg-green' : 'bg-info',
      item: item,
      item_info: item.key,
      item_title: [
          "#{ibox_text(t('site_connected_widgets'), badge(widgets), widgets)}",
          "#{ibox_text(t('version').pluralize, 'dark', versions)}",
          "#{ibox_text(t('type'), 'dark', type)}"
      ].join.html_safe,
      item_icon: 'fa-globe',
      item_menu: 'menu' %>
</div>