<table>
  <thead>
    <tr>
      <th>ID</th>
      <th>UUID</th>
      <th>Key</th>
      <th>Destroy</th>
    </tr>
  </thead>

  <tbody>
    <% @author_site_storages.each_with_index do |author_site_storage, index| %>
      <tr>
        <td><%= index + 1 %></td>
        <td><%= author_site_storage.uuid %></td>
        <td class="name"><%= link_to author_site_storage.key, edit_author_site_storage_path(author_site_storage) %></td>
        <td><%= link_to 'Destroy', author_site_storage, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>
