<% key = @author_site_storage.try(:key) %>
<% if key.nil? %>
    <p>Undefined site key</p>
<% else %>
    <%= stylesheet_link_tag(
                stylesheet_path("../../assets/public/#{@author_site_storage.try(:key)}/css/general")
        ) %>
    <%= javascript_include_tag(
                'scripts/core/lib/require',
                'data-main' => javascript_path("public/shared/javascript/init")
        ) %>
<% end %>