<% if @storage[:version].nil? %>
    <p class="undefined-site"><%= t('undefined_version') %></p>
<% elsif @storage[:mode] != 'consumption' %>
    <%= render partial: 'show', locals: {storage: @storage, current_user: current_user} %>
<% elsif @storage[:mode] == 'consumption' and @storage[:publish] %>
    <%= render partial: 'show', locals: {storage: @storage, current_user: current_user} %>
<% else %>
    <p class="undefined-site"><%= t('not_published') %></p>
<% end %>