<%- if devise_mapping.omniauthable? %>
    <div class="row social-omniauth">
      <%- resource_class.omniauth_providers.each do |provider| %>
          <%= link_to image_tag(image_url("#{provider.to_s}.png")),
                      omniauth_authorize_path(resource_name, provider),
                      {title: "Sign in with #{provider.to_s.titleize}"} %>
      <% end -%>
    </div>
<% end -%>