<div class="col-sm-6 col-lg-3">
  <% storages = item.author_site_storages.length %>
  <%= render 'author/author/ibox_edit',
      item_type: 'edit',
      item_bg: ibox_bg(storages),
      item: item,
      item_title: ibox_title(storages, t('sites_storage').pluralize),
      item_info: item.name,
      item_icon: 'fa-th-list' %>
</div>
</div>