<table>
  <thead>
    <tr>
      <th>ID</th>
      <th>Name</th>
      <th>Destroy</th>
    </tr>
  </thead>

  <tbody>
    <% @author_site_types.each_with_index do |author_site_type, index| %>
      <tr>
        <td><%= index + 1 %></td>
        <td class="name"><%= link_to author_site_type.name, edit_author_site_type_path(author_site_type) %></td>
        <td class="c"><%= link_to_destroy(author_site_type, author_site_type.name) %></td>
      </tr>
    <% end %>
  </tbody>
</table>