<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @author_site_type.name %>
</p>

<%= link_to 'Edit', edit_author_site_type_path(@author_site_type) %> |
<%= link_to 'Back', author_site_types_path %>
