.page-header {
    background: #7abcff;
    background: -moz-linear-gradient(top, #7abcff 0%, #60abf8 44%, #4096ee 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #7abcff), color-stop(44%, #60abf8), color-stop(100%, #4096ee));
    background: -webkit-linear-gradient(top, #7abcff 0%, #60abf8 44%, #4096ee 100%);
    background: -o-linear-gradient(top, #7abcff 0%, #60abf8 44%, #4096ee 100%);
    background: -ms-linear-gradient(top, #7abcff 0%, #60abf8 44%, #4096ee 100%);
    background: linear-gradient(to bottom, #7abcff 0%, #60abf8 44%, #4096ee 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#7abcff', endColorstr='#4096ee', GradientType=0);
    -webkit-box-shadow: 1px 0 5px 0 rgba(50, 50, 50, 0.4);
    -moz-box-shadow: 1px 0 5px 0 rgba(50, 50, 50, 0.4);
    box-shadow: 1px 0 5px 0 rgba(50, 50, 50, 0.4);
}

.page:nth-child(1) {
    background: red;
}

.page:nth-child(1):after {
    content: '1';
    position: relative;
    margin: 50%;
    font-size: 100px;
}

.page:nth-child(2) {
    background: greenyellow;
}

.page:nth-child(2):after {
    content: '2';
    position: relative;
    margin: 50%;
    font-size: 100px;
}

.page:nth-child(3) {
    background: #00bfff;
}

.page:nth-child(3):after {
    content: '3';
    position: relative;
    margin: 50%;
    font-size: 100px;
}

.page:nth-child(4) {
    background: coral;
}

.page:nth-child(4):after {
    content: '4';
    position: relative;
    margin: 50%;
    font-size: 100px;
}

.page:nth-child(5) {
    background: magenta;
}

.page:nth-child(5):after {
    content: '5';
    position: relative;
    margin: 50%;
    font-size: 100px;
}
