body {
    background-color: rgba(255, 255, 255, 0.6);
}

body:before {
    content: " ";
    position: absolute;
    background-image: url("/assets/demo/background.jpg");
    background-position: top left;
    background-repeat: no-repeat;
    background-size: cover;
    opacity: 0.1;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

.application {
    /*overflow: auto !important;*/
}

.application .application-header {
    padding: 0;
    margin: 0;
    background-color: darkgray;
    height: 55px;
    border: none;
}

.gate1,
.gate2,
.player3,
.player5,
.keeper1,
.keeper2 {
    z-index: 1 !important;
}

.grass1 {
    z-index: 72 !important;
}

.ball {
    z-index: 71 !important;
}

.grass2,
.player1 {
    z-index: 2 !important;
}

.avatar_profile img {
    border: 1px solid #999 !important;
}

.mytabs a {
    color: #fff;
}

.mytabs a.active,
.mytabs a:hover {
    color: #333 !important;
}

.application .page .page-header {
    display: none !important;
}

.score {
    font-size: 40px;
}