<ol class="breadcrumb">
  <li class="breadcrumb-item">
    <%= link_to t('dashboard'), root_path %>
  </li>
  <% unless controller_name == 'author' %>
    <li class="breadcrumb-item">
      <%= link_to controller_name.humanize, send_path(controller_name.pluralize) %>
    </li>
  <% end %>
  <% unless ahi? %>
    <li class="breadcrumb-item">
      <%= link_to action_name.humanize, send_path(controller_name.singularize, action_name, params[:id]) %>
    </li>
  <% end %>
</ol>