<ol class="breadcrumb">
  <li class="breadcrumb-item">
    <%= link_to t('dashboard'), root_path %>
  </li>
  <% unless controller_name == 'author' %>
    <li class="breadcrumb-item">
      <%= link_to controller_name.humanize,
          send("author_#{controller_name.pluralize}_path") %>
    </li>
  <% end %>
  <% unless ahi? %>
    <li class="breadcrumb-item">
      <%= link_to action_name.humanize,
          send("#{action_name}_author_#{controller_name.singularize}_path", params[:id]) %>
    </li>
  <% end %>
</ol>