<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">
      <%= controller_name.humanize %>
      <span class="badge badge-secondary"><%= entity.length %></span>
    </h3>
  </div>
  <div class="panel-body">
    <div class="row">
      <%= render 'author/author/ibox_new', url: (defined? url).nil? ? nil : url %>
      <% render_loop(entity, type) %>
    </div>
  </div>
  <% unless (defined? paginate).nil? %>
    <div class="panel-footer text-center">
      <%= will_paginate entity %>
    </div>
  <% end %>
</div>