<div class="card">
  <div class="card-header">
    <h5 class="card-title"><%= author_variable_get(title) %></h5>
  </div>
  <div class="card-body"><%= render_form %></div>
  <div class="card-footer">
    <%= cancel_button -%>
    <%= render_submit -%>
  </div>
</div>