<li class="mt widgets">
  <%= link_to t('manage_widget_connections'), author_widgets_path %>
  <div><%= data[:widgets_all].length %></div>
  <%= render 'author/site_storages/connected_widgets_menu', item: data %>
</li>