<%= hidden_field_tag('author_site_storage[author_site_storage_widget_ids][]', nil) %>
<ul class="nav nav-pills" role="tablist">
  <% render_loop(@widget_categories, 'author/site_storages/widgets/category_widgets') %>
</ul>
<div class="tab-content mt-3">
  <% render_loop(@widget_categories, 'author/site_storages/widgets/site_widgets') %>
</div>