<div class="site-widgets input-group<%= external_widget(item) -%>">

  <%= label_tag dom_id(item), nil, {
      class: widget_css_class(item),
      title: "#{item.name}\n#{item.description}"
  } do -%>
      <%= check_box_tag 'author_site_storage[author_site_storage_widget_ids][]',
                        item.id,
                        widget_selected?(item), {
                            id: dom_id(item),
                            class: 'form-control',
                            onclick: 'uc(this)'
                        } -%>
      <span><%= item.name %></span>
  <% end %>
</div>