<%= form_for(@author_site_version) do |f| %>
  <% if @author_site_version.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@author_site_version.errors.count, "error") %> prohibited this author_site_version from being saved:</h2>

      <ul>
      <% @author_site_version.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
