<div class="panel panel-default">
    <table id="<%= controller_name %>" class="table">
        <%= version_th %>
        <%= version_td %>
    </table>
    <div class="panel-footer text-center">
        <%= will_paginate @partial[:collection].first %>
    </div>
</div>