<div class="card">
  <div class="card-body">
    <table id="<%= controller_name %>" class="table">
      <%= version_th %>
      <%= version_td(@partial[:collection]) %>
    </table>
  </div>
  <div class="card-footer text-center">
    <%= will_paginate @partial[:collection].first %>
  </div>
</div>