#placeholders {
}

#placeholders div.row,
#placeholders div.column {
    width: 100%;
    height: 100%;
}

#placeholders div.row div,
#placeholders div.column div {
    opacity: 0.2;
    position: absolute;
}

#placeholders div.row div {
    background: #cd0a0a;
    width: 100%;
}

#placeholders div.column div {
    background: #00ff00;
    height: 100%;
}