@import url("reset.css");
@import url("workspace.css");
@import url("page.css");
@import url("widget.css");
@import url("debugger.css");

html, body {
    overflow: hidden;
    font: normal normal 12px/14px Tahoma, Arial, sans-serif;
}

html, body, .app,
.workspaces, .workspace,
.pages, .page {
    height: 100%;
    width: 100%;
    position: absolute;
}

.workspaces, .pages, .widgets {
    list-style: none;
}

.workspaces, .pages {
    overflow: auto;
}

.workspace, .page {
    display: block;
}
