@import url("reset.css");
@import url("workspace.css");
@import url("page.css");
@import url("widget.css");

html, body {
    overflow: hidden;
}

html, body, .app,
.workspaces, .workspace,
.pages, .page, .widgets {
    height: 100%;
    width: 100%;
    position: absolute;
}

.workspaces, .pages, .widgets {
    list-style: none;
}

.workspaces, .pages {
    overflow: auto;
}

.workspace, .page {
    float: left;
    display: block;
    position: absolute;
}
