.modal-dialog {
    width: 400px;
    max-width: 70%;
    max-height: 70%;
    min-height: 100px;
    background-color: #fff;
    position: absolute;
    z-index: 1000;
    border-radius: 5px;
    box-shadow: 1px 1px 1px #333;
    overflow: hidden;
}

.modal-dialog h2.header {
    height: 20px;
    font-size: 12px;
    font-weight: normal;
    padding: 4px 8px 0;
    color: #333;
    text-shadow: 1px 1px 1px #fff;
    border-bottom: 1px solid #999;
    cursor: move;
}

.modal-dialog.warning h2.header {
    background-color: #fed22f;
}

.modal-dialog.info h2.header {
    background-color: #00bfff;
}

.modal-dialog.error h2.header {
    background-color: #ff6347;
}

.modal-dialog.success h2.header {
    background-color: #32cd32;
}

.modal-dialog p.text,
.modal-dialog div.html {
    margin: 10px;
}

.modal-dialog ul.actions {
    position: absolute;
    top: 7px;
    right: 8px;
    list-style: none;
    height: 10px;
}

.modal-dialog ul.actions li {
    text-indent: -9000px;
    width: 10px;
    height: 100%;
    float: left;
    cursor: pointer;
    background: transparent url('smoothness/images/ui-icons_888888_256x240.png') no-repeat;
}

.modal-dialog ul.actions li:hover {
    background: transparent url('smoothness/images/ui-icons_454545_256x240.png') no-repeat;
}

.modal-dialog ul.actions li:active {
    background: transparent url('smoothness/images/ui-icons_222222_256x240.png') no-repeat;
}

.modal-dialog ul.actions li.close-x {
    background-position-x: -99px;
    background-position-y: -131px;
}

.modal-dialog ul.buttons {
    list-style: none;
    float: right;
}

.modal-dialog ul.buttons li {
    float: left;
    border-radius: 3px;
    box-shadow: 1px 1px 1px #333;
    padding: 2px 5px;
    margin-right: 5px;
    background-color: #dedede;
    cursor: pointer;
}

.modal-dialog ul.buttons li:last-child {
    margin-right: 10px;
}

.modal-dialog ul.buttons li:hover,
.modal-dialog ul.buttons li:active {
    background-color: #ccc;
}

.modal-dialog ul.buttons li:active {
    box-shadow: -1px -1px 1px #333;
    margin-top: 2px;
    margin-left: 1px;
    padding-top: 1px;
    padding-left: 4px;
}