.page {
    top: 0;
    overflow-x: hidden;
}

.page.select {
    border: 5px solid #ff6347;
}

.page .delta-scroll {
    display: none;
    width: 1px;
    height: 10000px;
}

.page .widgets {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: 0;
    width: auto;
    height: auto;
    overflow-x: hidden;
    overflow-y: auto;
}