.page {
    top: 0;
}

.page .delta-scroll {
    height: 10000px;
    width: 1px;
    display: none;
}

.widgets {
    position: absolute;
    height: auto;
    width: auto;
    bottom: 0;
    top: 0;
    left: 0;
    right: 0;
    margin: 0;
}