/* Resize fix */
.widget.ui-resizable-resizing {
    z-index: 99999 !important;
}

.widget .ui-resizable-handle {
    background: #cd0a0a none;
    width: 10px;
    height: 10px;
    visibility: hidden;
}

.widget .ui-resizable-n {
    box-shadow: -1px 1px 1px #333;
    left: 50%;
    top: -5px;
}

.widget .ui-resizable-e {
    box-shadow: -1px 1px 1px #333;
    top: 50%;
    right: -5px;
}

.widget .ui-resizable-s {
    left: 50%;
    bottom: -5px;
    box-shadow: -1px -1px 1px #333;
}

.widget .ui-resizable-w {
    top: 50%;
    left: -5px;
    box-shadow: 1px -1px 1px #333;
}

.widget .ui-resizable-se {
    right: -5px;
    bottom: -5px;
    box-shadow: -1px -1px 1px #333;
}

.widget .ui-resizable-sw {
    left: -5px;
    bottom: -5px;
    box-shadow: 1px -1px 1px #333;
}

.widget .ui-resizable-ne {
    box-shadow: -1px 1px 1px #333;
    right: -5px;
    top: -5px;
}

.widget .ui-resizable-nw {
    box-shadow: 1px 1px 1px #333;
    left: -5px;
    top: -5px;
}

.widget {
    width: 150px;
    height: 150px;
    position: absolute;
    top: 10px;
    left: 10px;
    z-index: 50;
    cursor: move;
    -webkit-box-shadow: 0 0 0 1px rgba(50, 50, 50, 0.3);
    -moz-box-shadow: 0 0 0 1px rgba(50, 50, 50, 0.3);
    box-shadow: 0 0 0 1px rgba(50, 50, 50, 0.3);
    border: none;
}

.widget.select,
.widget:hover {
    border: 5px solid #ff6347;
}

.widget.on-resize,
.widget.on-resize:hover {
    border: none;

}

.widget.ui-resizable-resizing .ui-resizable-handle,
.widget:hover .ui-resizable-handle {
    visibility: visible;
}

#next-widget-position {
    position: absolute;
    z-index: 51;
    background: #000;
}

.widget .content {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    cursor: default;
    background: transparent no-repeat center;
    overflow: hidden;
}

.widget .content ul {
    overflow: hidden;
}

.widget .content li {
    overflow-x: hidden;
    overflow-y: hidden;
}

.widget .content li h2 {
    margin-bottom: 10px;
}