@charset "UTF-8";
@import '~bootstrap/scss/bootstrap';
@import '~bootstrap/scss/variables';

$fa-font-path: '~@fortawesome/fontawesome-free/webfonts';
@import '~@fortawesome/fontawesome-free/scss/solid';
@import '~@fortawesome/fontawesome-free/scss/regular';
@import '~@fortawesome/fontawesome-free/scss/brands';
@import '~@fortawesome/fontawesome-free/scss/fontawesome';

$flag-icon-css-path: '~flag-icon-css/flags';
@import '~flag-icon-css/sass/flag-icon.scss';

$simple-line-font-path: '~simple-line-icons/fonts/';
@import '~simple-line-icons/scss/simple-line-icons';

@import './author';
@import './anthill';
@import './workspace';
@import './page';
@import './widget';
@import './modal';
@import './loader';
@import './renderer';

$popover-offset-left: 200px !important;
$popover-offset-width: 200px !important;
$sidebar-bg-color: #0d8ddb;

.sidebar {
  svg {
    margin-right: 0.5em;
  }

  .nav-link {
    font-size: 0.8em;
    cursor: pointer;
  }

  .nav-dropdown.open {
    .nav-link {
      border-left: 1px solid $sidebar-bg-color;

      &:hover {
        background-color: #8BC3FF;
        color: #333;
      }
    }

    & > .nav-link {
      background-color: $sidebar-bg-color;

      .nav-icon {
        color: #fff;
      }
    }

    .nav-link.page {
      white-space: nowrap;
      text-overflow: ellipsis;
      overflow: hidden;
      max-width: 200px;
    }
  }

  .nav-dropdown-items {

    .nav-item {
      background-color: #464B51;
    }

    svg {
      margin-left: 0.25rem;
    }

    .filter {
      .reset-filter {
        width: 2.7rem;
      }

      padding: 0 0.05em 0 0;
      margin-bottom: -0.5rem;
    }
  }
}

.sidebar-minimized {
  .nav-link {
    svg {
      margin: 0 0.7em;
    }
  }
}

.card.dashboard,
.card.dashboard-edit {
  height: 9.2em;
}

.card.dashboard-edit {
  .dropdown-item {
    border: none;
    padding: 5px 20px;
  }

  .dropdown-divider.with-text {
    height: auto;
    padding: 10px 20px;
    border: none;
    margin: 0;
    background: #e4e7ea;
  }
}

.card {
  .icon, .widget {
    -webkit-transition: all .3s linear;
    -o-transition: all .3s linear;
    transition: all .3s linear;
    position: absolute;
    top: 0;
    right: 70px;
    z-index: 0;
    font-size: 5.9em;
    color: rgba(0, 0, 0, 0.1);
  }

  .icon:hover {
    color: rgba(0, 0, 0, 0.15);
  }
}

.dropdown-item {
  svg {
    margin-left: -10px;
    margin-right: 10px;
  }
}

.dropdown-submenu {
  margin: -4px;
  z-index: 10;

  .dropdown-menu {
    top: 0;
    left: 100%;
    margin-top: -6px;
  }
}

td.separate {
  white-space: nowrap;

  .menu {
    margin-right: 10px;
  }
}

header {
  .user-image {
    height: 32px;
  }
}

.btn {
  a {
    text-decoration: none;
  }
}

.social-omniauth {
  img {
    width: 32px;
    margin-right: 5px;
  }
}

.signin {
  margin-top: 5%;

  .rememberable {
    svg {
      margin-right: 20px;
    }

    label {
      display: contents;
      cursor: pointer;
    }
  }
}

.popover.bs-popover-right {
  left: $popover-offset-left;
}

.popover {
  .description {
    font-style: italic;
    color: #2f353a;
  }

  span {
    margin-right: 10px;
    text-decoration: underline;
  }

  pointer-events: none;
  max-width: $popover-offset-width;
  min-width: $popover-offset-width;
}

.tooltip {
  pointer-events: none;
}

.app-body {
  .main {
    overflow-y: auto;
    height: calc(100vh - 55px);
  }
}

.app-header {
  .nav-item {
    .nav-link {
      max-height: 32px;
      max-width: 32px;
      overflow: hidden;
    }
  }
}
