@import url(theme.css);
@import './combined';
@import "./widget";

.json-view {
  margin-bottom: 1em;
}

.text-value,
.text-description > div {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}