@import url(theme.css);
@import './combined';
@import "./widget";

.hide {
  display: none
}

.break {
  word-break: break-all;
  white-space: normal;
}

.json-view {
  margin-bottom: 1em;
}

.text-value,
.text-description > div {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

#user_logs,
#error_logs {
  font-size: 12px;

  .nw {
    svg {
      width: 30px;
    }
  }

  td {
    white-space: nowrap;
  }

  td[colspan="5"] {
    padding: 0;
  }

  .nw:first-child {
    cursor: pointer;
  }

  ul {
    padding: 10px;
    background: #efefef;

    li {
      list-style: none;

      .label {
        font-weight: bold;
        margin-right: 10px;
      }
    }
  }

  .backtrace {
    > div {
      overflow: hidden;
      display: grid;

      pre {
        background-color: #fcbebe;
        max-height: 400px;
        overflow: auto;
      }
    }
  }
}

.pagination {
  margin-bottom: 15px;

  a, em {
    margin: 0 3px;
  }

  em {
    padding: 0 5px;
    border-radius: 3px;
    box-shadow: 1px 1px 5px #ccc;
    font-style: normal;
  }

  span {
    margin-right: 3px;
  }
}