@import url(theme.css);
@import './combined';
@import "./widget";

.hide {
  display: none
}

.json-view {
  margin-bottom: 1em;
}

.text-value,
.text-description > div {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

#user_logs,
#error_logs {
  font-size: 12px;

  .nw {
    svg {
      width: 30px;
    }
  }

  li {
    list-style: none;

    .label {
      font-weight: bold;
      margin-right: 10px;
    }
  }

  .backtrace {
    > div {
      overflow: hidden;
      display: grid;

      pre {
        background-color: #fcbebe;
      }
    }
  }
}

.pagination {
  a, em {
    margin: 0 3px;
  }

  em {
    padding: 0 5px;
    border-radius: 3px;
    box-shadow: 1px 1px 5px #ccc;
    font-style: normal;
  }

  span {
    margin-right: 3px;
  }
}