fieldset {
  fieldset {
    legend {
      cursor: pointer;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;

      svg {
        float: left;
        margin-right: 0.5rem;
      }
    }

    legend + ul {
      display: none;
    }

    legend.open + ul {
      display: block;
    }
  }
}