<table>
  <thead>
    <tr>
      <th>ID</th>
      <th>Name</th>
      <th>Index</th>
      <th>Destroy</th>
    </tr>
  </thead>

  <tbody>
    <% @author_widget_categories.each_with_index do |author_widget_category, index| %>
      <tr>
        <td><%= index + 1 %></td>
        <td class="name"><%= link_to author_widget_category.name_value, edit_author_widget_category_path(author_widget_category)  %></td>
        <td><%= author_widget_category.name_index %></td>
        <td class="c"><%= link_to_destroy(author_widget_category, author_widget_category.name_value) %></td>
      </tr>
    <% end %>
  </tbody>
</table>