<div class="panel panel-default">
    <div class="panel-heading">
        <h3 class="panel-title">
            <%= t('widget_categories_management') %>
            <span class="badge"><%= @author_widget_categories.length %></span>
        </h3>
    </div>
    <div class="panel-body">
        <div class="row">
            <div class="col-lg-3 col-sm-6 col-xs-12">
                <%= render 'author/author/ibox_new' %>
            </div>
            <% render_loop(@author_widget_categories, 'categories') %>
        </div>
    </div>
</div>