<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @author_widget_category.name %>
</p>

<%= link_to 'Edit', edit_author_widget_category_path(@author_widget_category) %> |
<%= link_to 'Back', author_widget_categories_path %>
