body {
    background-color: #fff;
}

.workspaces {
    background: none;
}

.main-bg {
    background-color: #75790B;
}

.header-bg {
    background: #959F03;
    z-index: 2 !important;
}

.main-bg .content.image,
.header-bg .content.image {
    background-image: none;
}

.logo {
    z-index: 3 !important;
}