/*
 *= require_self
 *= require 'shared'
 *= require 'style.min'
 *= require_directory '../javascripts/scripts/plugins/stylesheets'
 */

body.mini-navbar .logo-element {
  line-height: 60px;
}

.nav-second-level li, .nav-third-level li {
  white-space: nowrap;
}

.user-menu > .dropdown-menu {
  margin: 0;
  border-radius: 0;
  width: 280px;
  padding: 0 0 10px;
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 1000;
  display: none;
  float: left;
  min-width: 160px;
  font-size: 14px;
  text-align: left;
  list-style: none;
  background-color: #fff;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  border: 1px solid #ccc;
  border: 1px solid rgba(0, 0, 0, .15);
  -webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, .175);
  box-shadow: 0 6px 12px rgba(0, 0, 0, .175);
}

.user-menu > .dropdown-menu > li.user-header {
  height: 175px;
  padding: 10px;
  text-align: center;
}

.user-menu > .dropdown-menu > li.user-header {
  background-color: #2f4050;
}

.user-menu > .dropdown-menu > li.user-header > img {
  z-index: 5;
  height: 90px;
  width: 90px;
  border: 3px solid;
  border-color: transparent;
  border-color: rgba(255, 255, 255, 0.2);
}

.user-menu > .dropdown-menu > li.user-header > p {
  z-index: 5;
  color: #fff;
  color: rgba(255, 255, 255, 0.8);
  font-size: 14px;
  margin-top: 10px;
}

.user-menu > .dropdown-menu > .user-footer {
  background-color: #f9f9f9;
  padding: 10px;
}

.user-menu > .dropdown-menu > .user-footer:before,
.user-menu > .dropdown-menu > .user-footer:after {
  content: " ";
  display: table;
}

.user-menu > .dropdown-menu > .user-footer .btn-default {
  color: #666666;
}

.user-menu > .dropdown-menu > .user-footer .btn.btn-flat {
  border-radius: 0;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  border-width: 1px;
}

.user-menu > .dropdown-menu > .user-footer .btn {
  border-radius: 3px;
  -webkit-box-shadow: none;
  box-shadow: none;
  border: 1px solid transparent;
}

.user-menu > .dropdown-menu > .user-footer .btn-default {
  background-color: #f4f4f4;
  color: #444;
  border-color: #ddd;
}

.social-omniauth {
  border-top: 1px solid #ddd;
  margin-top: 1em;
  padding: 0 15px;
  background: #f1f1f1;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
}

.social-omniauth a {
  height: 32px;
  width: 32px;
  margin: 0.5em 0;
  display: inline-block;
}

.admin-dashboard .social-omniauth img {
  width: 32px;
  margin: 0;
}

.login .panel-footer {
  padding-bottom: 0;
  margin-top: 20px;
}

.user-menu .user-image {
  float: left;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  margin-right: 10px;
  margin-top: -2px;
}

.user-menu > .dropdown-toggle {
  background-color: transparent !important;
}

.user-menu > .dropdown-menu > li.user-header > img {
  z-index: 5;
  height: 90px;
  width: 90px;
  border: 3px solid;
  border-color: transparent;
  border-color: rgba(255, 255, 255, 0.2);
}

.profile-element h1 {
  text-align: center;
  font-size: 18px;
  font-weight: 600;
  color: white;
  padding: 18px 0;
  display: initial;
}

.small-box {
  border-radius: 2px;
  position: relative;
  display: block;
  margin-bottom: 20px;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
  min-width: 160px;
}

.small-box:hover {
  text-decoration: none;
}

.small-box > .inner {
  padding: 10px;
}

.small-box h3 {
  font-size: 38px;
  font-weight: bold;
  margin: 0 0 10px 0;
  white-space: nowrap;
  padding: 0;
  color: #fff;
}

.small-box h2 {
  font-size: 20px;
  font-weight: bold;
  margin: 0 0 10px 0;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  padding: 0;
  color: #fff;
}

.small-box p {
  color: #fff;
  font-size: 15px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.small-box .icon,
.small-box .widget {
  -webkit-transition: all .3s linear;
  -o-transition: all .3s linear;
  transition: all .3s linear;
  position: absolute;
  top: 0;
  right: 10px;
  z-index: 0;
  font-size: 6em;
  color: rgba(0, 0, 0, 0.15);
}

.small-box .widget {
  width: 64px;
  height: 64px;
  background-position: center;
  opacity: 0.3;
}

.small-box:hover .widget {
  opacity: 0.8;
}

.small-box:hover .icon {
  font-size: 6.5em;
}

.small-box > .small-box-footer {
  position: relative;
  text-align: center;
  color: #fff;
  color: rgba(255, 255, 255, 0.8);
  display: block;
  z-index: 10;
  background: rgba(0, 0, 0, 0.1);
  text-decoration: none;
  padding: 3px 0 3px 3px;
  line-height: 18px;
}

.small-box > a.small-box-footer {
  line-height: 20px;
}

.small-box-footer.btn-group > .btn:hover {
  z-index: 0;
}

.admin-dashboard .panel {
  min-width: 230px;
}

.admin-dashboard .panel-body {
  padding: 20px 20px 0;
}

.admin-dashboard .panel-title {
  color: #333;
}

.admin-dashboard .panel-title .badge {
  margin-left: 5px;
  margin-right: 5px;
}

.admin-dashboard .category-title {
  padding-left: 10px;
  font-size: 16px;
}

.admin-dashboard .panel-warning button {
  color: #555;
}

.admin-dashboard button.collapsed:before {
  content: "\2b";
}

.new_user input[type="checkbox"] {
  margin-right: 10px;
}

.admin-dashboard a > i {
  margin-right: 5px;
  min-width: 12px;
}

.admin-dashboard .panel.form .panel-footer.m-20 {
  margin: 0 -20px;
}

.group-addon {
  padding: 0 10px 0 5px;
}

.admin-dashboard textarea {
  resize: vertical;
}

.admin-dashboard .json-view {
  margin: 10px 0;
}

.admin-dashboard .site-widgets {
  float: left;
  margin-right: 5px;
  overflow: hidden;
}

.admin-dashboard .site-widgets .input-group-addon {
  width: auto;
  border-radius: 4px;
  border: 1px solid #ddd;
  background-repeat: no-repeat;
  background-position: 7px center;
  background-size: 32px;
  opacity: 0.8;
}

.admin-dashboard .site-widgets .input-group-addon.selected {
  background-color: #5cffd6;
}

.admin-dashboard .site-widgets .input-group-addon:hover {
  opacity: 1.0;
}

.admin-dashboard .widget {
  background-repeat: no-repeat;
  background-color: transparent;
  background-image: url("default.png");
}

.admin-dashboard .site-widgets input[type="checkbox"] {
  width: auto;
  margin-right: 10px;
  margin-left: 35px;
}

.admin-dashboard .site-widgets span {
  line-height: 32px;
}

.admin-dashboard .site-widgets-wrapper {
  margin: 0 0 10px;
}

.admin-dashboard .category-widgets .panel-title,
.admin-dashboard label[for="select_all_widgets"] {
  cursor: pointer;
}

.admin-dashboard .menu ul a {
  color: #333;
  padding: 3px 10px;
}

.admin-dashboard .toggle-trace {
  margin-right: 10px;
  cursor: pointer;
}

.admin-dashboard table ul {
  list-style: none;
  padding: 0 10px;
}

.admin-dashboard table ul .label {
  margin-right: 10px;
  font-weight: bold;
  width: 10em;
  display: inline-block;
  text-align: left;
}

.admin-dashboard table .params {
  margin-bottom: 10px;
}

.admin-dashboard table .nw {
  white-space: nowrap;
}

.admin-dashboard p.no-data {
  padding: 0 10px 10px;
}

.admin-dashboard .backtrace > span,
.admin-dashboard .user-session > span,
.admin-dashboard .user-params > span {
  margin-bottom: 2px;
}

.admin-dashboard .backtrace > div {
  max-height: 500px;
  overflow-x: hidden;
  overflow-y: auto;
}

.admin-dashboard form img {
  margin: 10px 0 20px;
  width: 300px;
}

.admin-dashboard form.new_author_widget img,
.admin-dashboard form.edit_author_widget img {
  width: 64px;
  height: 64px;
  float: right;
}

.dropdown-submenu {
  position: relative
}

.dropdown-submenu > .dropdown-menu {
  top: 0;
  left: 100%;
  margin-top: 0;
  margin-left: -5px;
  -webkit-border-radius: 0 6px 6px 6px;
  -moz-border-radius: 0 6px 6px 6px;
  border-radius: 0 6px 6px 6px
}

.dropdown-submenu:hover > .dropdown-menu {
  display: block
}

.dropup .dropdown-submenu > .dropdown-menu {
  top: auto;
  bottom: 0;
  margin-top: 0;
  margin-bottom: -2px;
  -webkit-border-radius: 5px 5px 5px 0;
  -moz-border-radius: 5px 5px 5px 0;
  border-radius: 5px 5px 5px 0
}

.dropdown-submenu > a:after {
  display: block;
  content: " ";
  width: 0;
  height: 0;
  border-color: transparent;
  border-style: solid;
  border-width: 5px 0 5px 5px;
  border-left-color: #ccc;
  position: absolute;
  right: 10px;
  top: 12px;
  margin-right: 0;
}

.dropdown-submenu:hover > a:after {
  border-left-color: #777;
}

.dropdown-submenu.pull-left {
  float: none
}

.dropdown-submenu.pull-left > .dropdown-menu {
  left: -100%;
  margin-left: 10px;
  -webkit-border-radius: 6px 0 6px 6px;
  -moz-border-radius: 6px 0 6px 6px;
  border-radius: 6px 0 6px 6px
}

.input-group-addon.glyphicon {
  top: 0;
}

.separate .menu {
  margin-right: 10px;
}

.menu .thumbnail-preview {
  max-width: 150px;
  max-height: 150px;
  margin-top: 10px;
  border: 1px solid #dedede;
  border-radius: 3px;
}

#favorites,
#versions {
  margin-top: 10px;
}

#favorites .row,
#versions .row {
  width: 100%;
  margin-left: 0;
}

.search-bar {
  width: 50%;
  margin: 14px 5px 5px 20px;
  color: #333;
}