// Place all the styles related to the Author::Author controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body.admin {
  background-color: #ccc;
}

body.admin .fetcher {
  width: 90%;
  height: 90%;
  border: 1px solid #333;
  box-shadow: 3px 3px 10px #333;
  padding: 2px;
  border-radius: 5px;
  margin: 20px auto 0;
  background-color: #fff;
  overflow: hidden;
}

body.admin .fetcher .content {
  height: 90%;
  overflow: auto;
  padding: 0 2% 20px;
}