body.admin table {
  width: 96%;
  margin-top: 20px;
}

body.admin h1 {
  font-size: 24px;
  background-color: #dedede;
  padding: 10px 20px;
  margin-bottom: 20px;
}

body.admin th {
  padding: 5px 10px;
  background-color: #dedede;
  white-space: nowrap;
  border: 1px solid #ccc;
}

body.admin td {
  border: 1px solid #ccc;
  padding: 1px 5px;
  background-color: transparent;
}

body.admin tr:hover td {
  background-color: #C2D374;
  border: 1px solid #999;
}

body.admin td img {
  width: 16px;
  height: 16px;
}

body.admin td.name {
  background-color: antiquewhite;
}

body.admin ul {
  list-style: none;
  margin: 20px;
  padding: 10px;
  background: #dedede;
  border: 1px solid #ccc;
}

body.admin ul > li {
  margin: 2px;
}

body.admin ul > li label {
  min-width: 200px;
}

body.admin ul input[type="text"]:focus {
  position: static;
  right: auto;
}

body.admin ul textarea:focus {
  height: 100px;
}