<div class="col-sm-6 col-lg-3">
  <%= render 'author/author/ibox_index',
      item_bg: 'bg-gray',
      item_title: controller_name.singularize.humanize,
      item_new: ((defined? url) ? url : nil).nil? ? new_url : url,
      item_info: t('add_new'),
      item_icon: 'fa-plus-circle' %>
</div>