<% url = (defined? url).nil? ? send("new_author_#{controller_name.singularize}_path") : url %>
<div class="small-box bg-aqua">
    <div class="inner">
        <h3><%= t('add_new') %></h3>
        <p><%= controller_name.singularize.humanize %></p>
    </div>
    <div class="icon">
        <i class="glyphicon glyphicon-plus"></i>
    </div>
    <%= link_to url, class: 'small-box-footer clearfix' do %>
        <%= t('create') %> <i class="fa fa-arrow-circle-right"></i>
    <% end %>
</div>