<div class="col-sm-6 col-lg-3">
  <%= render 'author/author/ibox_index',
      item_bg: empty_ibox?(@author[:user_logs], 'bg-green'),
      item_title: t('user_logs'),
      item_path: user_logs_path,
      item_info: @author[:user_logs],
      item_icon: 'fa-crosshairs' %>
</div>
<div class="col-sm-6 col-lg-3">
  <%= render 'author/author/ibox_index',
      item_bg: empty_ibox?(@author[:user_logs], 'bg-red'),
      item_title: t('error_logs'),
      item_path: error_logs_path,
      item_info: @author[:error_logs],
      item_icon: 'fa-exclamation-triangle' %>
</div>