<div class="btn-group float-right">
  <button class="btn btn-transparent dropdown-toggle p-0"
          type="button"
          data-toggle="dropdown"
          aria-haspopup="true"
          aria-expanded="false">
    <i class="icon-settings"></i>
  </button>
  <div class="dropdown-menu dropdown-menu-right"
       x-placement="bottom-end">
    <%= link_to item_new, class: 'dropdown-item' do %>
      <i class="fa fa-plus-square fa-lg float-right"></i>
      <%= t('add_new') %>
    <% end unless item_new.nil? %>
    <%= link_to item_path, class: 'dropdown-item' do %>
      <i class="fa fa-info-circle fa-lg float-right"></i>
      <%= t('more_info') %>
    <% end unless item_path.nil? %>
  </div>
</div>