<div class="col-sm-6 col-lg-3">
  <%= render 'author/author/ibox_index',
      item_bg: empty_ibox?(@author[:site_storages], 'bg-yellow'),
      item_title: t('sites_storage'),
      item_path: author_site_storages_path,
      item_new: new_author_site_storage_path,
      item_info: @author[:site_storages],
      item_icon: 'fa-globe' %>
</div>
<div class="col-sm-6 col-lg-3">
  <%= render 'author/author/ibox_index',
      item_bg: empty_ibox?(@author[:site_types], 'bg-yellow'),
      item_title: t('site_types'),
      item_path: author_site_types_path,
      item_new: new_author_site_type_path,
      item_info: @author[:site_types],
      item_icon: 'fa-tasks' %>
</div>

