<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title"><%= t('sites_management') %></h3>
  </div>
  <div class="panel-body">
    <div class="row">
      <div class="col-lg-3 col-sm-6 col-xs-12">
        <%= render 'author/author/ibox_index',
                   item_box: 'bg-yellow',
                   item_title: t('sites_storage'),
                   item_path: author_site_storages_path,
                   item_info: @author[:site_storages],
                   item_icon: 'glyphicon-globe' %>
      </div>
      <div class="col-lg-3 col-sm-6 col-xs-12">
        <%= render 'author/author/ibox_index',
                   item_box: 'bg-yellow',
                   item_title: t('sites_versions'),
                   item_path: author_site_versions_path,
                   item_info: @author[:site_versions],
                   item_icon: 'fa fa-code-fork' %>
      </div>
      <div class="col-lg-3 col-sm-6 col-xs-12">
        <%= render 'author/author/ibox_index',
                   item_box: 'bg-yellow',
                   item_title: t('site_types'),
                   item_path: author_site_types_path,
                   item_info: @author[:site_types],
                   item_icon: 'glyphicon-tasks' %>
      </div>
    </div>
  </div>
</div>