<div class="col-sm-6 col-lg-3">
  <%= render 'author/author/ibox_index',
      item_bg: empty_ibox?(@author[:users], 'bg-green'),
      item_title: t('users'),
      item_path: author_users_path,
      item_info: @author[:users],
      item_icon: 'fa-user' %>
</div>
<div class="col-sm-6 col-lg-3">
  <%= render 'author/author/ibox_index',
      item_bg: empty_ibox?(@author[:users_online], 'bg-info'),
      item_title: t('users_online'),
      item_path: author_users_path,
      item_info: @author[:users_online],
      item_icon: 'fa-user' %>
</div>