<div class="col-sm-6 col-lg-3">
  <%= render 'author/author/ibox_index',
      item_bg: empty_ibox?(@author[:widgets], 'bg-primary'),
      item_title: t('widgets'),
      item_path: author_widgets_path,
      item_new: new_author_widget_path,
      item_info: @author[:widgets],
      item_icon: 'fa-table' %>
</div>
<div class="col-sm-6 col-lg-3">
  <%= render 'author/author/ibox_index',
      item_bg: empty_ibox?(@author[:widget_categories], 'bg-primary'),
      item_title: t('widget_categories'),
      item_path: author_widget_categories_path,
      item_new: new_author_widget_category_path,
      item_info: @author[:widget_categories],
      item_icon: 'fa-edit' %>
</div>