<section class="admin-dashboard content">
    <%= render 'author/author/sites' %>
    <%= render 'author/author/logs' %>
    <%= render 'author/author/widgets' %>
    <%= render 'author/author/users' %>
</section>