*, *:before, *:after {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    outline: 0;
}

html, body, pre, code {
    overflow: hidden;
    font: normal normal 12px/14px Tahoma, Arial, sans-serif;
}

pre, code {
    font-size: 11px;
    overflow: auto;
}

::-webkit-scrollbar-thumb {
    background-color: rgba(0, 0, 0, .2);
    background-clip: padding-box;
    border: solid transparent;
    border-width: 1px 1px 1px 6px;
    min-height: 28px;
    padding: 100px 0 0;
    -webkit-box-shadow: inset 1px 1px 0 rgba(0, 0, 0, .1), inset 0 -1px 0 rgba(0, 0, 0, .07);
    box-shadow: inset 1px 1px 0 rgba(0, 0, 0, .1), inset 0 -1px 0 rgba(0, 0, 0, .07);
}

html, body, .application,
.workspaces, .workspace,
.pages, .page {
    height: 100%;
}

html, body, .application,
.workspaces, .workspace,
.pages, .page, .widget {
    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;

    /*
      Introduced in IE 10.
      See http://ie.microsoft.com/testdrive/HTML5/msUserSelect/
    */
    -ms-user-select: none;
    user-select: none;
}

.workspaces, .pages, .widgets {
    list-style: none;
}

.workspaces, .pages {
    overflow: auto;
}

.workspace, .page {
    display: block;
}

.shadow {
    -moz-box-shadow: inset 0 0 10px #000;
    -webkit-box-shadow: inset 0 0 10px #000;
    box-shadow: inset 0 0 10px #000;
}

.fl {
    float: left;
}

.fr {
    float: right;
}

.mr10 {
    margin-right: 10px;
}

.export-url {
    display: none;
}

.hide {
    display: none !important;
}

.no-transition, .no-transition * {
    -webkit-transition: none !important;
    -moz-transition: none !important;
    -o-transition: none !important;
    -ms-transition: none !important;
    transition: none !important;
}

.fa.maximize:before {
    content: "\f0b2";
}

.fa.gallery:before {
    content: "\f00b";
}

.fa.page-data:before {
    content: "\f247";
}

.fa.widget-rules:before {
    content: "\f0e8";
}

.fa.workspace-data:before {
    content: "\f108";
}

.fa.site-config:before {
    content: "\f085";
}