.modal.preferences,
.modal.rules,
.modal.page-modal,
.modal.handle-danger {
    height: auto;
    width: auto;
    top: auto;
    left: auto;
    right: auto;
    bottom: auto;
}

.modal .ui-draggable-handle {
    cursor: move;
}

.modal-dialog,
.modal-dialog .modal-header {
    margin: 0 !important;
}

.modal-dialog .modal-header {
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}

.modal-dialog ul {
    list-style: none;
}

.modal-dialog ul.remove {
    list-style: decimal inside;
}

.modal button.locate {
    border: 2px solid lightcoral;
}

.modal-dialog .modal-header .close {
    padding: 0 3px;
    overflow: hidden;
    color: #333;
}