.modal-dialog {
    position: fixed;
    z-index: 1000;
    min-height: 100px;
    max-width: 90%;
    max-height: 95%;
    min-width: 400px;
    width: 500px;
    border-radius: 5px;
    background-color: #fff;
    box-shadow: 1px 1px 1px #333;
    opacity: 0.9;
}

.modal-dialog h2.header {
    padding: 4px 8px 0;
    height: 24px;
    border-bottom: 1px solid #999;
    color: #000;
    text-shadow: 1px 1px 1px #fff;
    font-weight: normal;
    font-size: 12px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.modal-dialog.ui-draggable h2.header {
    cursor: move;
}

.modal-dialog.warning h2.header {
    background-color: #fed22f;
}

.modal-dialog.info h2.header {
    background-color: #00bfff;
}

.modal-dialog.error h2.header {
    background-color: #ff6347;
}

.modal-dialog.success h2.header {
    background-color: #32cd32;
}

.modal-dialog div.content {
    box-shadow: 0 5px 2px #ccc;
    padding-bottom: 5px;
    margin-bottom: 10px;
}

.modal-dialog p.text,
.modal-dialog p.notification,
.modal-dialog div.html {
    margin: 10px;
    font-size: 12px;
}

.modal-dialog div.html {
    max-height: 500px;
    max-width: 700px;
    overflow-x: auto;
    overflow-y: auto;
    box-shadow: inset -10px -5px 10px #ccc, inset -10px 5px 10px #ccc;
}

.modal-dialog div.html.visible {
    overflow: visible;
}

.modal-dialog ul.actions {
    position: absolute;
    top: 7px;
    right: 8px;
    height: 10px;
    list-style: none;
}

.modal-dialog ul.actions li {
    float: left;
    width: 10px;
    height: 100%;
    background: transparent url('ui-lightness/images/ui-icons_222222_256x240.png') no-repeat;
    text-indent: -9000px;
    cursor: pointer;
}

.modal-dialog ul.actions li:hover {
    background: transparent url('ui-lightness/images/ui-icons_ef8c08_256x240.png') no-repeat;
}

.modal-dialog ul.actions li:active {
    background: transparent url('ui-lightness/images/ui-icons_228ef1_256x240.png') no-repeat;
}

.modal-dialog ul.actions li.close-x {
    display: block;
    margin-top: -1px;
    background-position: -99px -132px;
}

.modal-dialog ul.buttons {
    float: right;
    margin-bottom: 10px;
    list-style: none;
}

.modal-dialog ul.buttons li {
    float: left;
    margin-right: 5px;
    padding: 2px 5px;
    border-radius: 3px;
    background-color: #dedede;
    box-shadow: 1px 1px 1px #333;
    cursor: pointer;
}

.modal-dialog ul.buttons li.disabled {
    color: #999;
}

.modal-dialog ul.buttons li:last-child {
    margin-right: 10px;
}

.modal-dialog ul.buttons li:hover,
.modal-dialog ul.buttons li:active {
    background-color: #ccc;
}

.modal-dialog ul.buttons li:active {
    margin-top: 2px;
    margin-left: 1px;
    padding-top: 1px;
    padding-left: 4px;
    box-shadow: -1px -1px 1px #333;
}

.modal-dialog div.html ul {
    list-style: circle inside;
}