body.modal-open {
    transform-origin: initial !important;
    transform: initial !important;
}

.modal.modal-notification {
    height: auto;
    width: auto;
    top: auto;
    left: auto;
    right: auto;
    bottom: auto;
}

.modal .modal-body {
    overflow-x: hidden;
    overflow-y: auto;
    max-height: 500px;
    min-height: 100px;
}

.modal .ui-draggable-handle {
    cursor: move;
    word-break: break-all;
}

.modal-dialog,
.modal-dialog .modal-header {
    margin: 0 !important;
}

.modal-dialog .modal-header {
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}

.modal-dialog ul {
    list-style: none;
}

.modal-dialog ul.remove {
    list-style: decimal inside;
}

.modal button.locate {
    border: 2px solid lightcoral;
}

.modal-dialog .modal-header .close {
    padding: 0 3px;
    overflow: hidden;
    color: #333;
}

.modal-dialog ul.nav-tabs {
    white-space: nowrap;
    display: flex;
}