.pages > .page {
    top: 0;
    /*overflow-x: hidden;*/
    position: relative;
    width: 100%;
    float: left;
    visibility: hidden;
    opacity: 0;
    transition: opacity 0.5s linear;
    -webkit-backface-visibility: hidden;
}

.pages > .page.current-page {
    visibility: visible;
    opacity: 1;
}

.pages > .page.select:after {
    content: ' ';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    border: 4px solid lightcoral;
    height: 100%;
}

.pages > .page .delta-scroll {
    display: none;
    width: 1px;
    height: 10000px;
}

.pages > .page .page-header {
    width: 100%;
    position: absolute;
}

.pages > .page .widgets {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: 0;
    width: auto;
    height: auto;
    /*overflow-x: hidden;*/
    /*overflow-y: auto;*/
}

.pages > .page.grid {
    background-image: linear-gradient(50deg, transparent 25%, rgba(0, 0, 0, .2));
}