.page {
    top: 0;
    overflow-x: hidden;
    position: relative;
    width: 100%;
    float: left;
}

.page.select:after {
    content: " ";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    border: 4px solid lightcoral;
}

.page .delta-scroll {
    display: none;
    width: 1px;
    height: 10000px;
}

.page-header {
    width: 100%;
    position: absolute;
}

.page .widgets {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: 0;
    width: auto;
    height: auto;
    overflow-x: hidden;
    overflow-y: auto;
}

.page .page-modal.modal-dialog div.html {
    box-shadow: none;
}

.page .page-modal.modal-dialog div.html li {
    list-style-type: decimal;
}