.anthill textarea.validate,
.anthill input[type="text"].validate {
    border-color: #F08080;
}

.anthill textarea + span.validate,
.anthill input[type="text"] + span.validate {
    float: right;
    font-size: 11px;
    padding: 5px;
    font-style: italic;
    color: #F08080;
    position: absolute;
    z-index: 2;
    right: 5px;
    bottom: 0;
}

.range {
    clear: both;
    background-color: #fff;
    float: left;
    margin: 3px 0;
    white-space: nowrap;
    width: 300px;
    position: relative;
}

.range > span {
    text-align: left;
}

.range > div {
    position: absolute;
    top: 2px;
    right: 10px;
}

.range > div input[type="number"] {
    height: 24px;
    width: 50px;
    font-size: 12px;
    padding: 0 5px;
    text-align: center;
    position: absolute;
    right: 30px;
    background-color: #fff;
}

.range input[type="range"] {
    margin-top: -5px;
}

.dropdown-menu .selected > a {
    background-color: antiquewhite;
}

.import-area {
    border: 1px dashed #bbb;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    padding: 25px;
    text-align: center;
    font-size: 20px;
    color: #ccc;
    margin-bottom: 10px;
}

.import-area.error {
    color: #ff0000;
    border-color: #ff0000;
}

.import-area.hover {
    background-color: honeydew;
}

div.source {
    max-height: 400px;
    overflow: auto;
}

.filter .input-group-addon,
.filter button {
    border-radius: 0;
}

.filter input {
    margin-top: 1px;
}

.filter button {
    padding: 4px 8px;
    margin-top: 1px;
}

.slider.input-group-addon:first-child,
.range .input-group-addon:first-child,
.textarea.input-group-addon:first-child {
    border-right: 1px solid #ccc;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    border-top-right-radius: 4px;
    border-bottom: none;
}

.checkbox .input-group-addon:first-child {
    background-color: #dedede;
}

.textarea.input-group-addon + textarea {
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    height: 40px;
    min-height: 40px;
    max-height: 160px;
    transition: all 0.5s ease;
}

.textarea.input-group-addon + textarea:focus {
    height: 100px;
    min-height: 100px;
}