div.combo-box {
    display: none;
    float: right;
    width: 50%;
    position: relative;
}

div.combo-box > ul {
    width: 100%;
    margin: 0 !important;
    padding: 0 !important;
    border: 1px solid #ccc !important;
    border-radius: 2px;
    background-color: #fff;
    height: 24px;
    line-height: 22px;
    float: right;
    overflow: hidden;
    box-shadow: inset 0 0 5px #ccc;
}

div.combo-box.disabled > ul {
    color: #ccc;
}

div.combo-box-arrow {
    position: absolute;
    top: 1px;
    right: 0px;
    width: 12px;
    height: 20px;
    cursor: pointer;
    background: transparent url('../../core/stylesheets/ui-lightness/images/ui-icons_222222_256x240.png') no-repeat -69px 2px;
}

div.combo-box-arrow:hover {
    background-image: url('../../core/stylesheets/ui-lightness/images/ui-icons_228ef1_256x240.png');
}

div.combo-box.open div.combo-box-arrow {
    background-position: -4px 2px;
}

div.combo-box li {
    background-color: transparent;
    display: none;
    width: 100%;
    padding: 0 3px !important;
    margin: 0 !important;
    cursor: pointer;
    border-bottom: 1px solid #ccc;
    line-height: 23px;
    font-size: 12px;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    min-height: 20px !important;
}

div.combo-box li.selected {
    display: block;
    border-bottom: none;
}

div.combo-box.open ul {
    overflow: auto;
    max-height: 200px;
    height: auto;
    position: absolute;
    border: 1px solid #999;
    box-shadow: 3px 3px 5px #999;
    z-index: 10;
}

div.combo-box.open li {
    display: block;
    margin-bottom: 0;
}

div.combo-box.open li:hover {
    background-color: #ffff99;
}

div.combo-box.open li:last-child,
div.combo-box.open li:last-child:hover {
    border: none;
}

div.combo-box.open li.selected,
div.combo-box.open li.selected:hover {
    background-color: #fbcb09;
}

div.combo-box input.hidden {
    display: none;
}

input[type="number"],
input[type="text"] {
    border: 1px solid #ccc;
    border-radius: 2px;
    background-color: #fff;
    margin: 0 0 0 10px;
    height: 24px;
    line-height: 22px;
    float: right;
    overflow: hidden;
    -webkit-transition: width 0s;
    -moz-box-shadow: inset 0 0 5px #ccc;
    -webkit-box-shadow: inset 0 0 5px #ccc;
    box-shadow: inset 0 0 5px #ccc;
    transition: width 0s;
    padding: 3px;
}

input[type="number"] {
    width: 150px;
    float: none;
    left: 100px;
    position: absolute;
    line-height: 18px;
}

input[type="text"] {
    width: 60%;
}

input[type="number"]:focus,
input[type="text"]:focus {
    position: absolute;
    transition: width 0.5s;
    right: 4px;
}

input[type="number"]:focus {
    width: 200px;
}

input[type="text"]:focus {
    width: 80%;
}

textarea.validate,
input[type="text"].validate {
    border-color: #F08080;
}

textarea + span.validate,
input[type="text"] + span.validate {
    float: right;
    font-size: 11px;
    padding: 5px;
    font-style: italic;
    color: #F08080;
    text-shadow: 1px 1px 3px #fff;
}

textarea[disabled="disabled"],
input[disabled="disabled"] {
    background-color: #f1f1f1;
}

li.checkbox {
    width: 49%;
    margin-left: 1%;
    float: left;
    background-color: #fff;
    -moz-box-shadow: inset 0 0 5px #ccc;
    -webkit-box-shadow: inset 0 0 5px #ccc;
    box-shadow: inset 0 0 5px #ccc;
    border: 1px solid #ccc;
    border-radius: 2px;
    padding: 2px 4px;
    margin-top: 3px;
    clear: none;
}

li.checkbox label {
    cursor: pointer;
}

input[type="checkbox"] {
    margin-right: 10px;
}

label {
    font-size: 14px;
    font-weight: bold;
    font-variant: small-caps;
    text-transform: lowercase;
    display: inline-block;
    height: 22px;
    line-height: 20px;
    padding-left: 0;
}

label.textarea {
    width: 100%;
}

textarea,
p.textarea {
    resize: none;
    transition: height 0.5s;
    -webkit-transition: height 0.5s;
    -moz-box-shadow: inset 0 0 5px #ccc;
    -webkit-box-shadow: inset 0 0 5px #ccc;
    box-shadow: inset 0 0 5px #ccc;
    border: 1px solid #ccc;
    border-radius: 2px;
    background-color: #fff;
    width: 100%;
    height: 24px;
    display: inline-block;
    padding: 3px;
}

p.textarea {
    background-color: #f1f1f1;;
    color: #777;
    padding: 2px 5px;
    overflow: hidden;
}

textarea:focus {
    height: 50px;
}