.anthill textarea.validate,
.anthill input[type="text"].validate {
    border-color: #F08080;
}

.anthill textarea + span.validate,
.anthill input[type="text"] + span.validate {
    float: right;
    font-size: 11px;
    padding: 5px;
    font-style: italic;
    color: #F08080;
    position: absolute;
    z-index: 2;
    right: 5px;
    bottom: 0;
}

.range {
    clear: both;
    background-color: #fff;
    float: left;
    margin: 3px 0;
    white-space: nowrap;
    width: 300px;
    position: relative;
}

.range > span {
    text-align: left;
}

.range > div {
    position: absolute;
    top: 2px;
    right: 10px;
}

.range > div input[type="number"] {
    width: 50px;
    position: absolute;
    right: 25px;
    background-color: #fff;
}

.range input[type="range"] {
    margin-top: -5px;
}

.dropdown-menu .selected > a {
    background-color: antiquewhite;
}