.tooltip p {
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: normal;
}

.tooltip p span {
    font-style: normal;
    font-variant: small-caps;
    font-weight: bold;
    font-size: 14px;
}

.tooltip p span.overflow {
    text-overflow: ellipsis;
    display: inline-block;
    font-variant: normal;
    font-weight: normal;
}