.workspace {
    overflow: hidden;
}

.workspace-header,
.workspace-footer {
    width: 100%;
}

.workspace-header {
    width: 100%;
    height: 50px;
    position: relative;
}

.workspace-footer {
    height: 40px;
    background-color: #555555;
    position: fixed;
    bottom: 0;
}

.workspace .pages {
    position: absolute;
    width: 100%;
    overflow: hidden;
}