@charset "UTF-8";
@import '~bootstrap/scss/bootstrap';
@import '~bootstrap/scss/variables';

$fa-font-path: '~@fortawesome/fontawesome-free/webfonts';
@import '~@fortawesome/fontawesome-free/scss/solid';
@import '~@fortawesome/fontawesome-free/scss/regular';
@import '~@fortawesome/fontawesome-free/scss/brands';
@import '~@fortawesome/fontawesome-free/scss/fontawesome';

@import '~@coreui/icons/scss/coreui-icons.scss';
@import '~flag-icon-css/css/flag-icon.min';
@import '~simple-line-icons/scss/simple-line-icons';

@import '~@coreui/coreui/scss/coreui';
@import './author';

//@import './shared';
//@import '../plugins/stylesheets/combined';

.sidebar {
  svg {
    margin-right: 0.5em;
  }
  .nav-link {
    font-size: 0.8em;
    cursor: pointer;
  }
  .nav-dropdown.open .nav-link {
    border-left: 1px solid #0d8ddb;
  }
  .nav-dropdown-items {
    svg {
      margin-left: 0.25em;
    }
  }
}

.sidebar-minimized {
  .nav-link {
    svg {
      margin: 0 0.7em;
    }
  }
}

.card.dashboard,
.card.dashboard-edit {
  height: 125px;
}

.card.dashboard-edit {
  .dropdown-item {
    border: none;
    padding: 5px 20px;
  }
  .dropdown-divider.with-text {
    height: auto;
    padding: 10px 20px;
    border: none;
    margin: 0;
    background: #e4e7ea;
  }
}

.card {
  .icon, .widget {
    -webkit-transition: all .3s linear;
    -o-transition: all .3s linear;
    transition: all .3s linear;
    position: absolute;
    top: 0;
    right: 70px;
    z-index: 0;
    font-size: 5.9em;
    color: rgba(0, 0, 0, 0.1);
  }
  .icon:hover {
    color: rgba(0, 0, 0, 0.15);
  }
}

.dropdown-item {
  svg {
    margin-left: -10px;
    margin-right: 10px;
  }
}

.dropdown-submenu {
  margin: -4px;
  z-index: 10;
  .dropdown-menu {
    top: 0;
    left: 100%;
    margin-top: -6px;
  }
}

td.separate {
  white-space: nowrap;
  .menu {
    margin-right: 10px;
  }
}

header {
  .user-image {
    height: 32px;
  }
}

.btn {
  a {
    text-decoration: none;
  }
}

.social-omniauth {
  img {
    width: 32px;
    margin-right: 5px;
  }
}

.signin {
  margin-top: 5%;
  .rememberable {
    svg {
      margin-right: 20px;
    }
    label {
      display: contents;
      cursor: pointer;
    }
  }
}