<div class="col-lg-3 col-sm-6 col-xs-12">
  <% widgets = item[:widgets].length || 0 %>
  <%= render 'author/author/ibox_index',
      item_bg: 'bg-yellow',
      item_path: author_widget_category_widgets_path(item[:category]),
      item_title: "#{t('widgets')} <span class=\"badge
      badge-#{badge(widgets)}\">#{widgets}</span>".html_safe,
      item_info: item[:category].name_value,
      item_icon: 'fa-th-large' %>
</div>