<div class="col-lg-3 col-xs-6">
    <%= render 'author/author/ibox_index',
               item_box: 'bg-yellow',
               item_title: item[:category].name_value,
               item_path: author_widget_category_widgets_path(item[:category]),
               item_count: item[:widgets].length || 0,
               item_icon: 'glyphicon-th-large' %>
</div>
<!--<li class="category">< %= "#{} (#{})" %></li>-->
<!--< % render_loop(item[:widgets], 'content') %>-->