<!DOCTYPE html>
<html>
<head>
  <title>Anthill</title>
  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'scripts/core/lib/require', 'data-turbolinks-track' => true, 'data-main' => javascript_path('public/demo/javascript/init') %>
  <%= csrf_meta_tags %>
</head>
<body>

</body>
</html>
