<!DOCTYPE html>
<html>
<head>
  <title>Anthill</title>
  <%= stylesheet_link_tag 'application', media: 'all' %>
  <%= javascript_include_tag 'author' %>
  <%= csrf_meta_tags %>
</head>
<body class="admin">
<div class="fetcher"><%= yield %></div>
</body>
</html>
